<div class="col-12 col-sm-6 col-lg-4 mb-3">
    <div class="card">
      <h2 class="card-header bg-primary">{{ name }}</h2>
      <h3 class="card-header "><i class="fas fa-dizzy mr-2"></i>{{ role }}</h3>
       <div class="card-body">
        <ul class="list-group">
          <li class ="list-group-item"> ID: {{ id }}</li>
          <li class ="list-group-item"> Email: <a href="mailto: {{ email }}">{{ email }}</a></li>
          <li class ="list-group-item"> School:  {{ school }}</li>
        </ul>
      </div>
    </div>
</div>